
.search {
  position: relative;
}

.search input {
  width: 400px;
  border: 1px solid#5ed0d5;
  padding: 10px 10px 10px 40px;
  font-size: 18px;
}

.searchIcon {
  width: 23px;
  position: absolute;
  top: 28%;
  left: 3%;
  opacity: 0.5;
}

.closeIcon {
  width: 23px;
  position: absolute;
  top: 28%;
  right: 3%;
  cursor: pointer;
}

.closeIcon:hover {
  stroke: red;
  fill: red;
}