.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterBlock {
  display: flex;
  align-items: center;
  height: 50px;
}

.counterBlock span {
  color: #8a8a8a;
  font-size: 14px;
  margin-left: 7px;
}

.minOrder{
  color: #8a8a8a;
  opacity: 0.5;
  font-size: 14px;
}

.dec {
  cursor: pointer;
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 1px solid #5ed0d5;
}

.count {
  position: relative;
  font-size: 16px;
  text-align: center;
  min-width: 60px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #5ed0d5;
  border-bottom: 1px solid #5ed0d5;
}


.inc {
  cursor: pointer;
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 1px solid #5ed0d5;
}

.inc:before,
.inc:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: #5ed0d5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inc:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.dec:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: #5ed0d5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inc:hover,
.dec:hover {
  background-color: teal;
}

.inc:hover.inc:after,
.inc:hover.inc:before,
.dec:hover.dec:after {
  background: white;
  cursor: pointer;
}


