.wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.counterBlock {
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
}

.counterBlock span {
  color: #8a8a8a;
  font-size: 14px;
  margin-left: 7px;
}

.inc {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 1px solid green;
}

.count {
  position: relative;
  font-size: 16px;
  text-align: center;
  min-width: 60px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

.count::after {
  content: "min 0.2 kg";
  position: absolute;
  width: 65px;
  font-size: 14px;
  color: #8a8a8a;
  bottom: -33px;
  left: -9px;
}

.dec {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 1px solid green;
}

.dec:before,
.dec:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dec:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.inc:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inc:hover,
.dec:hover {
  background-color: green;
}

.inc:hover.inc:after,
.dec:hover.dec:before,
.dec:hover.dec:after {
  background: white;
}

.totalBlock {
  margin-left: 60px;
}

.totalBlockText {
  font-size: 14px;
  color: #8a8a8a;
}

.totalBlockPrice {
  margin-top: 5px;
  font-size: 16px;
  color: #272727;
  font-weight: 600;
}
