.wrapper{
    font-family: Montserrat,sans-serif;
    width: calc((100% - 60px) / 4);
    background-color: #f9f9f9;
    overflow: hidden;
    cursor: pointer;
}


.wrapper:hover{
    box-shadow: 3px 10px 20px -8px rgba(0,0,0,0.78);
}

.imgBlok{
    height: 250px;
    display: flex;
    align-items: center;
}

.imgBlok img{
    width: 100%;
}

.contentBlock{
    padding: 20px;
}

.name{

    font-weight: 700;
    color: #272727;
    line-height: 1rem;
    font-size: 22px;
}

.pricePerKg{
    margin-top: 14px;
    color: #8a8a8a;
    font-size: 14px;
}

.price{
    margin-top: 7px;
    color: #272727;
    font-size: 16px;
}

.btn{
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    background: #5ed0d5;
    cursor: pointer;
}