.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */

.logo {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 22px;
  color: #5ed0d5;
  text-transform: uppercase;
}

.logoImg {
  height: 70px;
}
