.wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #fff;
  border-bottom: 4px solid rgb(146, 141, 134, 0.5);
}

.imgBlock {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}

.imgBlock img {
  width: 150px;
}

.imgBlock span {
  font-size: 20px;
  font-weight: 700;
  margin: 0 20px;
  width: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

.counter {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.price {
  font-size: 16px;
  margin-left: 15px;
  color: #8a8a8a;
  min-width: 70px;
}
.total {
  min-width: 113px;
  max-width: 133px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.close {
  margin: 0 5px;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:hover {
  background-color: red;
}





@media (max-width: 1180px) {
  .price {
    font-size: 16px;
    font-size: 14px;
  }
  .total {
    font-size: 16px;
  }
  .close:before,
  .close:after {
    width: 16px;
    height: 2px;
  }
}

@media (max-width: 1024px) {
  .total {
    font-size: 14px;
    min-width:100px;
  }
  .close {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 900px) {
  .imgBlock span {
    font-size: 18px;
  }
  .total {
    font-size: 14px;
    min-width: 90px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
